
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* home page */
.banner{
    width: 100%;
    height: 100vh;
    background-image:url("https://static.tildacdn.com/tild3232-6537-4334-b463-666338313134/photo.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.logo{
   width: 120px;
   cursor: pointer;
}
.navbar ul li{
    list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
   
    text-align: center;
    color:black;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content h3{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color:black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: 009688;
    height: 100%;
    width:0;
   


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:url("https://avatars.mds.yandex.net/i?id=3cc74fc973502491edde60dafbac902ed00cc70a-9041932-images-thumbs&n=13");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.logo{
   width: 120px;
   cursor: pointer;
}
.navbar ul li{
    list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
   
    text-align: center;
    color:black;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content h3{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color:black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: 009688;
    height: 100%;
    width:0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

#card1{
  
    transform: scale(1.3);
    z-index: 2;
}
 
button:hover span{ 
    width: 100%;
}

button:hover{
    border: none;
}
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}
#img{
  height: 70px;
  width: 70px;

}
#img:hover{

      transform: scale(1.3);
      z-index: 2;
  }
#row1{
    margin-top: 20px;
    padding-top: 20px;
 background: black;
 color: white;
 
}
/* background color */
body{
    background: black;
} 
/* about img t3 */
.t3{
    height: 500px;
    width: 650px;
}
.t3:hover{
    transform: scale(1.3);
    z-index: 2;
}
#t4{
    color: rgb(230, 207, 77);
}
h2{
    color: rgb(158, 143, 60);
}
#t5{
    width: 100%;
    height: 350px;
}
/* events card img t5 */
#t7{
background: rgb(146, 128, 23);
}
/* book a table button t7 */
#t8{
    color: white;
    background: black;
    height: 350px;
}

/* events text t8 */
#t9{
    height: 250px;
    width: 330px;
}
/* gallery img */
#t9:hover{
    transform: scale(1.3);
    z-index: 2;
}
#row2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background: rgb(24, 23, 23);
}
   
#rowc{
    text-align: center;
    margin-top: 30px;
}